<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                        <section name="Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        </startup>
        <userSettings>
                <Timer.Properties.Settings>
                        <setting name="MiningType" serializeAs="String">
                                <value>Ice</value>
                        </setting>
                        <setting name="OreHold" serializeAs="String">
                                <value>15000</value>
                        </setting>
                        <setting name="CycleTime" serializeAs="String">
                                <value>33.1</value>
                        </setting>
                        <setting name="YieldPerHarvester" serializeAs="String">
                                <value>1000</value>
                        </setting>
                        <setting name="WarningSeconds" serializeAs="String">
                                <value>10</value>
                        </setting>
                        <setting name="WarningSound" serializeAs="String">
                                <value>Sounds\Fanfare.wav</value>
                        </setting>
                        <setting name="NoOfHarvesters" serializeAs="String">
                                <value>1</value>
                        </setting>
                        <setting name="Volume" serializeAs="String">
                                <value>5</value>
                        </setting>
                </Timer.Properties.Settings>
        </userSettings>
</configuration>